* {
  margin: 0%;
  padding: 0%;
}

.back {
  background-color: rgb(116, 114, 114);
  height: 50%;
}

.title {
  border: 5px solid black;
  border-radius:50px;
  text-align: center;
  font: medium Courier, monospace;
  color: gold;
  background-color: purple;
  margin: 50px 100px;
  padding: 25px;
  font-size: x-large;
}
 
.title:hover {
  color: red;
  background-color: green;
}
 
.name {
  text-align: right;
  font-size: smaller;
  font: small Courier, monospace;
  color: white;
}

div.box1 {
  height: 100%;
  width: 50%;
}

div.box2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

p.text {
  color: white;
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  background-color: black;
}

img {
  height: 20%;
  width: 20%;
  vertical-align: middle;
  border: solid black;
}

a.top {
  border: double black;
  margin-left: 94%;
  text-align: right;
  background-color: black;
  color: white;
}
